body {
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #4E944F;
  color: #fff;
  font-family: "montserrat";
  font-size: 15px;
  font-weight: bold;
}


.container_fluid{
 padding: 3% 10%
  }

  .navbar {
 min-height: 200px;

}
 .nav-item {
   font-size: 20px;
 }
 .navbar-brand {
   font-size: 30px;
   
 }



  h1 {
    color: #D61C4E;

    font-size: 40px;
  }
  h2 {
    color: #610C63;

    font-size: 30px;
  }
  h3 {
    color: #fff;

    font-size: 20px;
  }
  h4 {
    color: #fff;

    font-size: 20px;
  }
  table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 5px;

    font-size: 30px;
  }
  p {
    font-size: 15px;

  }
